<nav class="navbar navbar-expand-lg navbar-light bg-light mt-6">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'exchange_calculator' %}">Exchange Calculator</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'download_csv' %}">Download CSV</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'exchange_line_chart' %}">View Chart</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
  